@import 'root';
// @use 'root';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.drop-shadow{
    box-shadow: 1px 1px 5px rgb(46, 46, 46);
}

body{
    font-family: 'Open Sans', sans-serif;
    color: var(--color-light);
    background-color: var(--color-primary);
    text-align: center;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: clamp(1.5em, 3.5vw, 2.4em);
    font-weight: 700;
}

img{
    max-width: 100%;
    height: auto;
}

.main-container{
    width: 100%;
    min-height: 100vh;
    max-width: 1282px;
    margin: auto;
    padding: 2.375em;
    background:url(../images/bg-mobile.svg) no-repeat;
    background-size: 100%;
}

main{
    p{
        margin: 1.7rem auto;
    }
}

.brand{
    text-align: left;
}

.attribution { 
    font-size: 11px; text-align: center;
    a { color: var(--color-secondary); }
}

.button{
    padding: .8rem 5em;
    max-width: 12.6rem;
    border-radius: 2em;
    border-style: none;
    color: var(--color-primary);
    background-color: var(--color-light);
}

.social-links{
    margin-top: 3.8rem;
    li{
        display: inline-block;
        margin: .3em;
        width: 2em;
        height: 2em;
        text-align: center;
        border: 1px solid var(--color-light);
        border-radius: 50%;
    }
    ion-icon{
        vertical-align: bottom;
    }
}

.img-logo{
    width: 7.5rem;
}

.eye-candy{
    margin: 3.2em 0;
}

.button--hover:hover{
        background-color: var(--color-secondary);
        color: var(--color-light);
        cursor: pointer;
}

.socials--hover:hover{
    border-color: var(--color-secondary);
    color: var(--color-secondary);
    cursor: pointer;

}

@import 'media-queries';